.contact__container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./../assets/images/fondo_footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .text__container {
    width: 365px;
    height: 55vh;
    padding: 20px;
    margin-left: 22%;

    h2 {
      font-size: 60px;
      margin-top: 50px;
      padding: 20px 0;
      font-family: 'Abril-Bold-Italy', monospace;
      font-weight: bold;
      text-align: end;
    }

    p {
      padding-top: 15px;
      text-align: end;
      font-size: 14px;
      font-family: 'Courier-Std', 'Courier New', Courier, monospace;
      font-weight: bold;

      span {
        background-color: white;
      }
    }
  }

  .credicts__container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 45vh;
    
    p{
      position: relative;
      width: 65%;
      padding-right: 10%;
      padding-bottom: 20px;
      color: white;
      font-family: 'Barlow-Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 12px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 15%;
        bottom: 0;
        border-bottom: 2px solid gray;
      }
    }

    h4 {
      position: relative;
      color: white;
      width: 65%;
      padding-right: 10%;
      padding-top: 15px;
      font-family: 'Barlow-Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 12px;
      font-weight: 500;

      &::after {
        content: "";
        position: absolute;
        top: 55px;
        left: 0;
        width: 120px;
        height: 26px;
        background-image: url(./../assets/icon/icon-copy.png);
        background-size: cover;
      }
    }  
  }
  
  .mail__button {
    position: absolute;
    display: block;
    top: 90px;
    right: 100px;
    width: 500px;
    height: 220px;
  }
}