@font-face {
  font-family: 'Axiforma-Black';
  src: url('./../assets/fonts/Axiforma-Black.ttf') format('truetype'); // Reemplaza con la ruta correcta y formato de tu fuente
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abril-Italy';
  src: url('./../assets/fonts/Abril-Fatface-Italic.otf') format('opentype'); // Reemplaza con la ruta correcta y formato de tu fuente
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Abril-Bold-Italy';
  src: url('./../assets/fonts/Abril_Display_BoldItalic.otf') format('opentype'); // Reemplaza con la ruta correcta y formato de tu fuente
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Courier-Std';
  src: url('./../assets/fonts/CourierStd.otf') format('opentype'); // Reemplaza con la ruta correcta y formato de tu fuente
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow-Medium';
  src: url('./../assets/fonts/Barlow-Medium.ttf') format('truetype'); // Reemplaza con la ruta correcta y formato de tu fuente
  font-weight: 100;
  font-style: normal;
}