.modal {
  position: fixed;
  display: none;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000D8; 
  z-index: 3;

  .image__container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    .image {
      width: 748px;
      height: 528px;
      object-fit: cover;
    }
  }

  .video__container {
    width: calc(100vw - 320px);
    height: 100%;
    display: grid;
    place-items: center;

  }

  .data__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 320px;
    height: 100%;
    background-image: url(./../assets/images/fondo-modal-lateral.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: #000000 0px 0px 15px 10px;


    button {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
      padding: 5px;
      cursor: pointer;
      border: none;
      background: none;
      z-index: 2;
      transition: $transition-normal;
      &:hover {
        transform: rotateZ(180deg);
      }
      &:focus {
        outline: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .region {
      position: relative;
      width: 45%;
      margin-bottom: 60%;
      padding-right: 20px;
      background-color: white;
      font-size: 12px;
      font-family: 'Axiforma-Black', Arial, Helvetica, sans-serif;
      text-align: end;

      &::after {
        content: "";
        position: absolute;
        top: -30px;
        left: 0px;
        width: 21px;
        height: 35px;
        background-image: url(./../assets/icon/icon-chinche.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .title {
      width: 85%;
      margin-bottom: 40%;
      font-size: 13px;
      font-family: 'Courier-Std', 'Courier New', Courier, monospace;
      text-align: start;
      font-weight: 500;
    }
    


  }

}

.active {
  display: flex;
}
